<div class="dbmnContainer">
  <a class="btn bckBtn" href="<%= estimates_path %>"><img src="/assets/backIcon.svg" alt="">Back</a>
  <div class="pgHdWrpr d-flex align-items-start justify-content-between">
    <h2 class="pgHdr">New Estimate</h2>
  </div>
  <div class="formWrapper">
    <%= form_for(@estimate, url: @estimate.new_record? ? estimates_path : estimate_path(@estimate), html: { "data-parsley-validate" => true, id: 'estimate-form' }) do |f| %>
    <div class="topContainer d-flex align-items-start justify-content-between">
      <div class="col-6">
        <div class="inptWrpr">
          <label class="cstmLbl">Client Name</label>
          <%= f.select :client_id, options_for_select(Client.asc_order.map { |p| [p.name, p.id] }, @estimate.client_id),{ include_blank: 'Select Client' }, class: 'form-control', 'data-parsley-required' => "true", 'data-parsley-required-message' => "Please select client." %>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label class="cstmLbl">Estimate No. :</label>
          <%= f.text_field :code, value: @estimate.code || @estimate.new_code, placeholder: "Estimate No", "data-parsley-required" => "true", "data-parsley-required-message" => "Please enter Estimate No.", readonly: true %>
        </div>
        <div class="inptWrpr">
          <p>Date : <%= @estimate.created_at ? @estimate.created_at.strftime("%d/%m/%Y") :  Time.now.strftime("%d/%m/%Y") %></p>
        </div>
      </div>
    </div>
    <table class="table cstmTable">
      <thead>
        <tr>
          <th style="width: 20%;">Product</th>
          <th style="width: 10%;">HSN #</th>
          <th style="width: 10%;">Quantity</th>
          <th style="width: 10%;">Rate</th>
          <th style="width: 15%;">CGST/IGST</th>
          <th style="width: 15%;">SGST</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Action</th>
        </tr>
      </thead>
    </table>
    <%= f.fields_for :selected_models do |model| %>
    <%= render 'selected_model_fields', :f => model %>
    <% end %>
    <div class="text-right">
      <%= link_to_add_association '<button class="btn outlButton admrBtn ml-auto"><span class="material-icons mr-2">add_circle_outline</span>Add More</button>'.html_safe, f, :selected_models %>
    </div>
    <div class="brdrTp mt-4"></div>
    <div class="row mt-4 align-items-end">
      <div class="col-6">
        <div class="inptWrpr">
          <label for="">Terms</label>
          <%= f.cktext_area :terms, value: @estimate.terms, class: 'ckeditor', ckeditor: {toolbar: []} %>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label for="">Notes</label>
          <%= f.cktext_area :notes, value: @estimate.notes, class: 'ckeditor', ckeditor: {toolbar: []} %>
        </div>
      </div>
      <div class="col-8">
      </div>
      <div class="col-4">
        <div class="inptWrpr lblLft">
          <label for="">Sub Total</label>
          <%= f.text_field :sub_total, placeholder: "", "data-parsley-required" => "true", "data-parsley-required-message" => "Please enter Sub Total", readonly: true, id: "common_sub_total" %>
        </div>
        <div class="inptWrpr lblLft">
          <label for="">CGST/IGST</label>
          <%= f.text_field :cgst, placeholder: "", "data-parsley-required" => "true", "data-parsley-required-message" => "Please enter CGST/IGST", readonly: true, id: "common_cgst" %>
        </div>
        <div class="inptWrpr lblLft">
          <label for="">SGST</label>
          <%= f.text_field :sgst, placeholder: "", "data-parsley-required" => "true", "data-parsley-required-message" => "Please enter SGST", readonly: true, id: "common_sgst" %>
        </div>
        <div class="inptWrpr lblLft">
          <label for="">Total</label>
          <%= f.text_field :total, placeholder: "", "data-parsley-required" => "true", "data-parsley-required-message" => "Please enter total", readonly: true, id: "common_total" %>
        </div>
      </div>
    </div>
    <div class="fmBtnWrpr">
      <button class="btn primButton form-submit">Submit</button>
      <a class="btn outlButton" href="<%= estimates_path %>" style="width: 150px;">Cancel</a>
    </div>
    <% end %>
  </div>
</div>