<div class="dbmnContainer">
  <div class="pgHdWrpr d-flex align-items-start justify-content-between">
    <h2 class="pgHdr">Estimate</h2>
    <a class="btn primButton" href="<%= new_estimate_path %>">New Estimate</a>
  </div>
  <div class="srchSpce mt-5 d-flex align-items-center justify-content-between">
    <div class="srchWrpr d-flex align-items-center">
      <span class="material-icons">search</span>
      <input type="search">
    </div>
    <button class="btn outlButton smlBtn">
      <img src="/assets/export_icon.svg" alt="">
      Export
    </button>
  </div>
  <table class="table cstmTable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Number</th>
        <th>Client</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.id %></td>
        <td><%= estimate.code %></td>
        <td><%= estimate.client&.name %></td>
        <td><%= estimate.total %></td>
        <td><%= estimate.created_at.strftime("%d-%m-%Y") %></td>
        <td>
          <% if estimate.addressed? %>
          <%= estimate.status %>
          <% else %>
          <a href="<%= approve_estimate_path(estimate) %>" data-method="post">Approve</a>
          <a href="<%= reject_estimate_path(estimate) %>" data-method="post" class="text-danger ml-4">Reject</a>
          <% end %>
        </td>
        <td>
          <a href="<%= estimate_path(estimate) %>">View</a>
          <a href="<%= edit_estimate_path(estimate) %>">Edit</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>