<div class="dbmnContainer">
  <div class="pgHdWrpr d-flex align-items-start justify-content-between">
    <h2 class="pgHdr">Model</h2>
    <a class="btn primButton" href="<%= new_product_model_path %>">New Model</a>
  </div>
  <div class="srchSpce mt-5 d-flex align-items-center justify-content-between">
    <%= form_tag({controller: controller_name, action: action_name}, {method: :get}) do %>
    <div class="srchWrpr d-flex align-items-center">
      <span class="material-icons">search</span>
      <input type="search" name="search[name]" value="<%= @q.present? ? @q[:name] : '' %>">
    </div>
    <% end %>
    <a class="btn outlButton smlBtn" href="<%= download_report_product_models_path(format: 'xlsx') %>">
      <img src="/assets/export_icon.svg" alt="">
      Export
    </a>
  </div>
  <table class="table cstmTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Input Range</th>
        <th>Output Range</th>
        <th>Frequency</th>
        <th>Protection</th>
        <th>Kva</th>
        <th style="width: 18%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @product_models.each do |model| %>
      <tr>
        <td><%= model.name %></td>
        <td><%= model.input_range %></td>
        <td><%= model.output_range %></td>
        <td><%= model.frequency %></td>
        <td><%= model.protections %></td>
        <td><%= model.kva %></td>
        <td style="vertical-align: middle;">
          <a href="<%= product_model_path(model) %>" class="mr-4">Show</a>
          <a href="<%= edit_product_model_path(model) %>" class="mr-4">Edit</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>