<div class="dbmnContainer">
  <a class="btn bckBtn" href="<%= sale_orders_path %>"><img src="/assets/backIcon.svg" alt="">Back</a>
  <div class="pgHdWrpr">
    <h2 class="pgHdr">Order</h2>
  </div>
  <div class="formWrapper">
    <div class="frmHdr">Order Details</div>
    <div class="row infoVw">
      <div class="col-6">
        <div class="inptWrpr">
          <label>Vendor</label>
          <p><b><%= @sale_order.vendor&.name %></b></p>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label>Order acceptance number</label>
          <p><b><%= @sale_order.acceptance_no %></b></p>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label>Delivery Address Line 1</label>
          <p><b><%= @sale_order.delivery_address_lin1 %></b></p>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label>Delivery Address Line 2</label>
          <p><b><%= @sale_order.delivery_address_lin2 %></b></p>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label>Delivery City</label>
          <p><b><%= @sale_order.delivery_city %></b></p>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label>Delivery Zipcode</label>
          <p><b><%= @sale_order.delivery_pin_code %></b></p>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label>Delivery Date</label>
          <p><b><%= @sale_order.delivery_date.strftime("%d/%m/%Y") %></b></p>
        </div>
      </div>
    </div>      
    <table class="table cstmTable">
      <thead>
        <tr>
          <th>S.No.</th>
          <th style="width: 30%;">Product</th>
          <th>HSN #</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @sale_order.selected_models.each_with_index do |sm, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= sm.product_model&.name %></td>
          <td><%= sm.hsn %></td>
          <td><%= sm.quantity %></td>
          <td><%= number_to_indian_rupee(sm.rate) %></td>
          <td><%= number_to_indian_rupee(sm.amount) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="brdrTp mt-4"></div>
    <div class="row mt-4 align-items-end justify-content-end">
      <div class="col-4">
        <div class="inptWrpr lblLft">
          <label for="">Sub Total</label>
          <input type="text" disabled value="<%= number_to_indian_rupee(@sale_order.sub_total) %>">
        </div>
        <div class="inptWrpr lblLft">
          <label for="">CGST/IGST</label>
          <input type="text" disabled value="<%= number_to_indian_rupee(@sale_order.cgst) %>">
        </div>
        <div class="inptWrpr lblLft">
          <label for="">SGST</label>
          <input type="text" disabled value="<%= number_to_indian_rupee(@sale_order.sgst) %>">
        </div>
        <div class="inptWrpr lblLft">
          <label for="">Total</label>
          <input type="text" disabled value="<%= number_to_indian_rupee(@sale_order.total) %>">
        </div>
      </div>
    </div>
    <div class="row infoVw">
      <div class="col-6">
        <div class="inptWrpr">
          <label for="">Terms</label>
          <p><%= @sale_order.terms.html_safe %></p>
        </div>
      </div>
      <div class="col-6">
        <div class="inptWrpr">
          <label for="">Notes</label>
          <p><%= @sale_order.notes.html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>
