<div class="dbmnContainer">
  <div class="pgHdWrpr d-flex align-items-start justify-content-between">
    <h2 class="pgHdr">Categories</h2>
    <a class="btn primButton" href="<%= new_category_path %>">New Category</a>
  </div>
  <div class="srchSpce mt-5 d-flex align-items-center justify-content-between">
    <%= form_tag({controller: controller_name, action: action_name}, {method: :get}) do %>
    <div class="srchWrpr d-flex align-items-center">
      <span class="material-icons">search</span>
      <input type="search" name="search[name]" value="<%= @q.present? ? @q[:name] : '' %>">
    </div>
    <% end %>
    <a class="btn outlButton smlBtn" href="<%= download_report_categories_path(format: 'xlsx') %>">
      <img src="/assets/export_icon.svg" alt="">
      Export
    </a>
  </div>
  <table class="table cstmTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Active</th>
        <th style="width: 20%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><%= cat.active? %></td>
        <td>
          <a href="<%= edit_category_path(cat) %>">Edit</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>